.blog {
    &__img {
        & img {
            width: 100%;
        }
    }
    &__content {
        & h3 {
            font-size: 17px;
            color: #333333;
            line-height: 1.5;
            text-transform: capitalize;
        }
        & span {
            font-size: 13px;
            color: #999999;
            line-height: 1.8;
        }
        & p {
            font-size: 15px;
            color: #888888;
            line-height: 1.8;
        }
    }
}

.blog-container {
    padding: 50px 0;
}