.footer {
    background-color: #f0f0f0;
    padding: 100px 50px;
    &--text {
        font-size: 14px;
        color: #555555;
        line-height: 1.8;
    }
    &--title {
        font-size: 18px;
        color: #222222;
        line-height: 1.5;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 20px;
    }
    & ul li {
        font-size: 14px;
        color: #555555;
        line-height: 1.8;
        text-transform: capitalize;
    }
    & form input {
        border: none;
        outline: none;
        border-bottom: 1px solid #b4b4b4;
        background-color: #f0f0f0;
        margin-bottom: 10px;
        width: 100%;
    }
    & form button {
        background-color: #000;
        color: #fff;
        display: inline-block;
        padding: 10px 60px;
        border-radius: 40px;
        outline: none;
        border: none;
        text-transform: capitalize;
    }
}